body
{
    display: flex;
    flex-direction: column;
}

div
{
    background-color: blanchedalmond;
    border: 2px solid blue;
    margin: 5px;
}

h1, p
{
    margin: 0;
    padding: 0;
}

.main-img
{
    width: 150px;
    height: 150px;
}